/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
html{
    font-size: 90%;
}
body {
    position: relative;
    color: #ccc;
    background-color: #1e1f22;
    /*background: linear-gradient(*/
    /*  200.96deg,*/
    /*  #fedc2a -29.09%,*/
    /*  #dd5789 51.77%,*/
    /*  #7a2c9e 129.35%*/
    /*);*/
    font-family: sans-serif;
}
.MuiSlider-markLabel {
    color: #ccc !important;
    /*background-color: aquamarine;*/
}